.header {
  background-color:transparent;
  background-position: 50% 50%;
  background-repeat:no-repeat;
  background-size: cover;
  height:100vh;
  position:relative;
  &:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.2);
  }
  &__wrapper {
    position:relative;
    z-index: 1;
    height:100%;
  }
  &__grid {
    display:flex;
    flex-direction: column;
    height:100%;
  }
  &__menu {
    flex-shrink: 0;
    flex-grow: 0;
  }
  &__panel {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:relative;
    .container {
      position:absolute;
      box-sizing: border-box;
      left:50%;
      width:100%;
      transform:translateX(-50%);
      top:80px;
      @media(min-width: 1920px) {
        top:150px;
      }
      @media(max-width: 320px) {
        top:80px;
      }
      @media(min-width: 768px) and (max-width:1024px) {
        top:50%;
        transform:translate(-50%,-50%) translateY(-100px);
      }
    }
  }
  &__subheading {
    text-align: center;
    max-width: 700px;
    margin:0 auto;
    font-weight: 700;
    font-size:24px;
    letter-spacing: 3px;
    color:#fff;
  }
  &__logo {
    width: 450px;
    margin:0 auto;
  }
  &__heading {
    max-width: 700px;
    margin:30px auto 0 auto;
    text-align: center;
    font-family: @heading-font;
    font-weight: 800;
    font-size:42px;
    color:#fff;
    text-transform: uppercase;
    @media(max-width: 767px) {
      font-size:34px;
    }
    // text-shadow: 1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000,-1px 1px 0 #000;
  }
  &__description {
    font-family: @heading-font;
    text-align: center;
    font-weight: 200;
    max-width: 700px;
    margin:30px auto 0 auto;
    color:#fff;
  }
  &__button-wrapper {
    text-align: center;
    margin-top:60px;
    margin-left: -15px;
    display:flex;
    justify-content: center;
    @media(max-width: 767px) {
      flex-wrap: wrap;
      margin-top:15px;
    }
  }
  &__button {
    margin-left: 15px;
    display:inline-block;
    font-family:@button-font;
    font-weight: 700;
    font-size:14px;
    color:white;
    padding:15px 30px;
    background-color:@main-color;
    text-transform: uppercase;
    border-radius: @button-radius;
    border:2px solid @main-color;
    transition:all 0.2s;
    @media(max-width:767px) {
      margin-top:15px;
      font-size:18px;
      box-sizing: border-box;
      width:100%;
      max-width:300px;
    }
    &:hover {
      background-color:transparent;
      color:#fff;
    }
    &:last-child {
      padding:15px 45px;
      border-color:#fff;
      color:#fff;
      background-color:transparent;
      position:relative;
      &:hover {
        background-color:#fff;
        color:@dark-color;
      }
      &:after {
        content:"\f144";
        margin-left: 5px;
        font-family: "FontAwesome";
      }
    }
  }
}
