.menu {
  padding:15px 0;
  &__grid {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {

  }
  &__nav {
    flex-grow: 0;
    display:flex;
  }
  &__item {
    display:inline-block;
  }
  &__link {
    display:block;
    padding:10px 15px;
    font-family: @main-font;
    font-size:14px;
    color:@dark-color;
    transition:all 0.2s;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
      background-color:@main-color;
      color:white;
    }
  }
}

.logo {
  display:inline-block;
  max-width: 200px;
  &__img {
    display:block;
    width:100%;
  }
}
